@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');



body {
    background: url(../images/darkness.png)
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: rgb(25, 233, 25);
}

.answers div {
	margin: 0 auto;
}

img {
	height: 200px;
    width: auto;
    padding-left: 42%;
    
    
}

h2, h3, .question {
	text-align: center;
}

h1 {
    text-align: center;
    font-family: "Abril Fatface", "sans-serif", "serif";
    color:whitesmoke;
}

.question {
    color: whitesmoke;
    font-size: 24px;
    font-family: "Abril Fatface", "sans-serif", "serif";
}

.question:hover {
    color: rgb(25, 233, 25);
}

.timer {
    color: rgb(25, 233, 25);
    font-size: 19px;
}